<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaO3tJuxLG4jxXCCjU9ht2Ti90XOeZ210</string>
	<key>GCM_SENDER_ID</key>
	<string>131234867224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hearAiDemo</string>
	<key>PROJECT_ID</key>
	<string>hear-ai-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>hear-ai-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131234867224:ios:48f5d6fa9015dea7063b6d</string>
</dict>
</plist>